body{
		font-family: 'Merriweather', serif;
}
h1{
		margin-bottom: 0;
		font-weight: bold;
}
h2{
	margin-top: 10px;
	font-weight: lighter;
	font-size: 100%;
}

div{
	display: inline-block;
	margin: .8rem 0rem;
}
		

img{
	height: 400px;
	margin: 0rem 0.8rem;
}
	
