body{
	font-family: 'Crimson Text', serif;
	color:#016b6b;
}

footer{
	font-family: 'Crimson Text', serif;
	color:#016b6b;
}

section{
	margin-bottom:30px;
}

h1{
	font-size: 50px;
	margin-bottom:-10px;
}

h2{
	color: #ffee96;
	background-color: #016b6b; 
	display:inline-block;
	margin-bottom:10px;
}

h3{
	margin-top:5px

}

.dif{
	color:#009e9e;
}

p{
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.normal{
	margin-top:-30px
}
.bold{
	margin-top:-30px
}
.italic{
	margin-top:-30px
}

.wide{
	letter-spacing: 0.3em;
	margin-top:-30px;
}

.narrow{
	letter-spacing: -0.08em;
	margin-top:-30px;
}

.underline{
	text-decoration: underline;
	margin-top:-30px;
}

.linethrough{
	text-decoration: line-through;
	margin-top:-30px;
}

.overline{
	text-decoration:overline;
	margin-top:-30px;
}

.upper{
	text-transform: uppercase;
	margin-top:-30px;
}

.lower{
	text-transform: lowercase;
	margin-top:-30px;
}

.capital{
	text-transform: capitalize;
	margin-top:-30px;
}

.divider{
	color:red;
}