.firstsection{
    float: right;
}


.second{
	position:relative;
}
.secondsection{
	position: absolute;
    bottom: 0;
    right: 0;
}

.thirdsection{
	background-color: green;
    right: 0;
    top: 0;
    position: fixed;
}


.fourth{
    position:relative;
}

.firstcallout{
	background-color: red;
    position: absolute;
    left: 330px;
    z-index: 100;
    top:240px;
}

.secondcallout{
    background-color: black;
    position:absolute;
    left: 340px;
    top:250px;
 
}
